main{
    section{
        div{
            &.index__card{

                margin: 20px auto;
                width: 100%;
                height: 500px;
                max-width: 80%;
                border-radius: 0;

                div{
                    h2{
                        
                    }
                    p{
                        
                    }
                }
                img{

                }
            }
        }

    }
}