@use "../utilities/mixins";

.informacion__main {
    @include mixins.flex(column, center, center, relative);
    @include mixins.fondo('../imagenes/Fondo_de_pagina.png', fixed);
    height: auto;
    
    section {
        @include mixins.contenido_main();
        color: black;
        font-size: 24px;
        padding: 30px 10px;
        text-align: center;

        div{
            padding-bottom: 25px;

            p{
                margin: 0;
                
                span{
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .informacion__main {
        section {
            padding: 20px 10px;
            font-size: 20px;
        }
    }
}