@use "../utilities/variables";

nav{
    height: 56px;
    position: fixed;
    padding: 3px 0;
    background-color: variables.$nav-footer-color;
    z-index: 1000;

    .navbar__a--logo{
        color: variables.$nav-footer-text-color;
        &:hover{
            color: variables.$nav-footer-text-hover-color;
        }
    }
    .navbar__button{
        background-color: variables.$nav-footer-active-border-color;
    }
    div{
        background-color: variables.$nav-footer-color;
        border-radius: 0px 0px 10px 10px;
        
        li{
            padding: 0px 10px;

            .navbar__a{
                color: variables.$nav-footer-text-color;
                &:hover{
                    color: variables.$nav-footer-text-hover-color;
                }
            }

            .navbar__a--active{
                margin: 4px 0px;
                padding: 2px 5px;
                border: 1px solid variables.$nav-footer-active-border-color;
                border-radius: 50px;
                box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.518);
                background-color: variables.$nav-footer-active-bg-color;
                color: variables.$nav-footer-text-color;
                &:hover{
                    color: variables.$nav-footer-text-hover-color;
                }
            }
        }
    }
}