@use "../utilities/mixins";

.nosotros__main{
    @include mixins.flex(column, center, center, relative);
    @include mixins.fondo('../imagenes/Nosotros.jpg', fixed);
    height: auto;
    
    section{
        @include mixins.contenido_main();
        color: black;
        font-size: 24px;
        padding: 30px 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .nosotros__main {
        section {
            padding: 20px 10px;
            font-size: 20px;
        }
    }
}