main{
    .productos{
        padding: 12px;

        .productos__carta{
            padding: 0px;

            .productos__link{
                &:hover{
                    & .productos__img{
                        opacity: 0.4;
                    }
                    & .productos__texto{
                        opacity: 1;
                    }
                }

                .productos__img{
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 0;
                    transition: 0.3s ease-in-out;
                }
                
                .productos__texto{
                    opacity: 0;
                    font-size: 40px;
                    color: black;
                }
            }
        }
    }
}